## Info  
Derived from https://www.kaggle.com/dlarionov/feature-engineering-xgboost/notebook  
And later https://www.kaggle.com/felipes/feature-engineering-xgboost/edit

Use with Python 3 (eg. conda_python3)

# Build Data

In [1]:
# !pip install --upgrade numpy==1.16.1
# !pip install --upgrade --force-reinstall pandas==0.23.4
# ! conda install numba --yes
# Install pip install -r requirements.txt
# !pip3 install matplotlib sklearn
# !pip3 install nest_asyncio
# !pip3 install psycopg2

In [2]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from itertools import product
from sklearn.preprocessing import LabelEncoder
from IPython.display import display, HTML

import time
import sys
import gc
import pickle

pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns', 100)

##

import sys
sys.path.append("..")

##

import asyncio
import time
from dotenv import load_dotenv, find_dotenv
import logging
import backtrace
from datetime import datetime
import json
import os
import nest_asyncio

from src.lib.postgres import connect as connectDatabase
from src.lib.s3 import connect as connectS3
from src.lib.postgres import getConnection

nest_asyncio.apply()

LOGGER = logging.getLogger(__name__)

async def connectServices():
    await connectDatabase()
    await connectS3()
    LOGGER.info('Database connected')

backtrace.hook()
load_dotenv(find_dotenv(), verbose=True)

if not os.getenv('DATABASE_URL'):
    raise Exception('Expected DATABASE_URL env variable to be set.')
LOG_FORMAT = ('%(levelname) -10s %(asctime)s %(name) -10s %(funcName) '
  '-35s %(lineno) -5d: %(message)s')
logging.basicConfig(level=logging.INFO, format=LOG_FORMAT)

loop = asyncio.get_event_loop()
asyncio.run(connectServices())
conn = getConnection()

Connecting to Postgres at postgres://postgres:example@localhost:5432/settler

INFO       2019-02-26 16:06:09,836 __main__   connectServices                      49  : Database connected

In [3]:
%%time

async def fetchItemsAsDataFrame():
    global sales, items, shops, cats
    
    results = await conn.fetch('SELECT * FROM live_objects WHERE utype=$1', 'item_day_sale')
    sales = pd.DataFrame(dict(id=r['uid'], **json.loads(r['data'])) for r in results)
#     sales.set_index('id')
    
    results = await conn.fetch('SELECT * FROM live_objects WHERE utype=$1', 'shop')
    shops = pd.DataFrame(dict(id=r['uid'], **json.loads(r['data'])) for r in results)
#     shops.set_index('id')
    
    results = await conn.fetch('SELECT * FROM live_objects WHERE utype=$1', 'item')
    items = pd.DataFrame(dict(id=r['uid'], **json.loads(r['data'])) for r in results)
#     items.set_index('id')

    results = await conn.fetch('SELECT * FROM live_objects WHERE utype=$1', 'item_category')
    cats = pd.DataFrame(dict(id=r['uid'], **json.loads(r['data'])) for r in results)
#     cats.set_index('id')

    # Castings
    shops['id'] = shops['id'].astype(np.int16)
    cats['id'] = cats['id'].astype(np.int16)
    items['id'] = items['id'].astype(np.int16)
    items['category'] = items['category'].astype(np.int16)

asyncio.run(fetchItemsAsDataFrame())

CPU times: user 2.12 s, sys: 145 ms, total: 2.26 s
Wall time: 2.8 s

In [4]:
%%time

train = sales.copy()

# items = pd.read_csv('./input/items.csv')
# shops = pd.read_csv('./input/shops.csv')
# cats = pd.read_csv('./input/item_categories.csv')
# train = pd.read_csv('./input/sales_train.csv')

# def sampleFromEachDateBlock(df, fraction=0.05):
# #     grouped = df.groupby('shop', as_index=False)
#     grouped = df.groupby('month_block', as_index=False)
#     return grouped.apply(lambda x: x.sample(frac=fraction))

def setMonthBlock(row):
    parsed = datetime.strptime(row['date'], '%Y-%m-%d')
    #Â 2000 is an arbitrary number
#     print("What", row['date'])
    return (parsed.year - 2000)*12+parsed.month

# def fixDateFormat(row):
#     return datetime.strptime(row['date'], '%d.%m.%Y').strftime("%Y-%m-%d")

# train['date'] = train.apply(fixDateFormat, axis=1)
train['month_block'] = train.apply(setMonthBlock, axis=1)

# _train = _train[_train.month_block==33]

# WARNING: There can be many unintended consequences of this. For instance,
# sampling breaks the original way of creating lagging features, because
# that supposes each entry (prod, shop) will exist for every block time,
# which won't be the case after running this.
# _train = pd.read_csv('./input/sales_train.csv')
# train = sampleFromEachDateBlock(train)

# set index to ID to avoid droping it later
# test = pd.read_csv('./input/test.csv').set_index('ID')

display(HTML("table <strong>train</strong>:"))
print("columns:", ",". join(train.columns.values))
print("shape:", train.shape)

columns: date,id,item,item_cnt_day,price,shop,month_block
shape: (159464, 7)
CPU times: user 4.45 s, sys: 55.8 ms, total: 4.5 s
Wall time: 4.81 s

### Structure of train

Number of records by month_block is decreasing.

In [5]:
# plotCountRecordsBy(train, 'month_block')

## Outliers

There are items with strange prices and sales. After detailed exploration I decided to remove items with price > 100000 and sales > 1001 (1000 is ok).

In [6]:
# import seaborn as sns
# %matplotlib inline

# def plot_features(booster, figsize):    
#     fig, ax = plt.subplots(1,1,figsize=figsize)
#     return plot_importance(booster=booster, ax=ax)

# plt.figure(figsize=(10,4))
# plt.xlim(train.price.min(), train.price.max()*1.1)
# sns.boxplot(x=train.price)

In [7]:
# plotCountUniqueBy(train, 'shop', 'item')
# plotCountUniqueBy(train, 'item', 'shop')

In [8]:
train = train[train.price<100000]
train = train[train.item_cnt_day<1001]

There is one item with price below zero. Fill it with median.

In [9]:
median = train[(train.shop==32)&(train.item==2973)&(train.month_block==4)&(train.price>0)].price.median()
train.loc[train.price<0, 'price'] = median

Several shops are duplicates of each other (according to its name). Fix train and test set.

In [10]:
# removed test for sql step

# Ð¯ÐºÑÑÑÐº ÐÑÐ´Ð¶Ð¾Ð½Ð¸ÐºÐ¸Ð´Ð·Ðµ, 56
train.loc[train.shop == 0, 'shop'] = 57
# test.loc[test.shop == 0, 'shop'] = 57
# Ð¯ÐºÑÑÑÐº Ð¢Ð¦ "Ð¦ÐµÐ½ÑÑÐ°Ð»ÑÐ½ÑÐ¹"
train.loc[train.shop == 1, 'shop'] = 58
# test.loc[test.shop == 1, 'shop'] = 58
# ÐÑÐºÐ¾Ð²ÑÐºÐ¸Ð¹ ÑÐ». Ð§ÐºÐ°Ð»Ð¾Ð²Ð° 39Ð¼Â²
train.loc[train.shop == 10, 'shop'] = 11
# test.loc[test.shop == 10, 'shop'] = 11

## Shops/Cats/Items preprocessing
Observations:
* Each shop name starts with the city name.
* Each category contains type and subtype in its name.

In [11]:
shops.loc[shops.name == 'Ð¡ÐµÑÐ³Ð¸ÐµÐ² ÐÐ¾ÑÐ°Ð´ Ð¢Ð¦ "7Ð¯"', 'name'] = 'Ð¡ÐµÑÐ³Ð¸ÐµÐ²ÐÐ¾ÑÐ°Ð´ Ð¢Ð¦ "7Ð¯"'
shops['city'] = shops['name'].str.split(' ').map(lambda x: x[0])
shops.loc[shops.city == '!Ð¯ÐºÑÑÑÐº', 'city'] = 'Ð¯ÐºÑÑÑÐº'
shops['city_code'] = LabelEncoder().fit_transform(shops['city'])
shops = shops[['id','city_code']]

cats['split'] = cats['name'].str.split('-')
cats['type'] = cats['split'].map(lambda x: x[0].strip())
cats['type_code'] = LabelEncoder().fit_transform(cats['type'])
# if subtype is nan then type
cats['subtype'] = cats['split'].map(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
cats['subtype_code'] = LabelEncoder().fit_transform(cats['subtype'])
cats = cats[['id','type_code', 'subtype_code']]


## Castings
shops['city_code'] = shops['city_code'].astype(np.int8)
# items['categoryId'] = matrix['categoryId'].astype(np.int8)
cats['type_code'] = cats['type_code'].astype(np.int8)
cats['subtype_code'] = cats['subtype_code'].astype(np.int8)


items.drop(['name'], axis=1, inplace=True) #!!!

In [12]:
# removed test for sql step

# test['month_block'] = 34
# test['month_block'] = test['month_block'].astype(np.int8)
# test['shop'] = test['shop'].astype(np.int8)
# test['item'] = test['item'].astype(np.int16)

train['revenue'] = (train['price'] *  train['item_cnt_day']).astype('int64')

## Build matrix scaffold

Basic structure of our training matrix needs to be `month_block x shop x item = item_ctn_month`, but train only contains such rows for which `item_ctn_month` isn't zero.

Test set is a product of some shops and some items within 34 month. There are 5100 items * 42 shops = 214200 pairs. 363 items are new compared to the train. Hence, for the most of the items in the test set target value should be zero. 
In the other hand train set contains only pairs which were sold or returned in the past. Tha main idea is to calculate monthly sales and <b>extend it with zero sales</b> for each unique pair within the month. This way train data will be similar to test data.

### `matrix` structure

We create matrix such that, for each date block, every shop has the same number of records

In [13]:
%%time

# for each month, matrix contains a product of unique shops x unique items in it.

def genMatrix():
    m2 = []
    cols = ['month_block','shop','item']

    for i in train.month_block.unique():
        _sales = train[train.month_block==i]
        assert len(sales)
        m2.append(np.array(list(product([i], _sales.shop.unique(), _sales.item.unique())), dtype='int16'))

    matrix = pd.DataFrame(np.vstack(m2), columns=cols)
    matrix['month_block'] = matrix['month_block'].astype(np.int16)

    matrix['shop'] = matrix['shop'].astype(np.int16)
    matrix['item'] = matrix['item'].astype(np.int16)

    matrix.sort_values(cols, inplace=True)
    
    # felipap: using 'train', which lists demand by day ('date' attr), sum
    # up to create 'group', which lists total demand that month
    
    group = train.groupby(['month_block','shop','item']).agg({
        'item_cnt_day': ['sum'],
    })
    # print(group)
    group.columns = ['item_cnt_month']
    group.reset_index(inplace=True)
    
    # Aggregate train set by shop/item pairs to calculate target
    # aggreagates, then <b>clip(0,20)</b> target value. This way train
    # target will be similar to the test predictions.
    
    # felipap: add item_ctn_month column to 'matrix'
    matrix = pd.merge(matrix, group, on=cols, how='left')
    matrix['item_cnt_month'] = (matrix['item_cnt_month']
                                    .fillna(0)
                                    .clip(0,20) # NB clip target here
                                    .astype(np.float16))

    # I use floats instead of ints for item_cnt_month to avoid
    # downcasting it after concatination with the test set later. If
    # It would be int16, after concatination with NaN values it becomes
    # int64, but foat16 becomes float16 even with NaNs.
    
    return matrix

matrix = genMatrix()
# display(matrix)

CPU times: user 3.6 s, sys: 604 ms, total: 4.2 s
Wall time: 4.26 s

In [14]:
# plotCountBy(matrix, 'shop', 'item')

In [15]:
%%time

# felipap: use pd.concat to add to 'matrix' the (shop, item) rows that exist in test,
# but didn't exist in train (which is where the date in 'matrix' comes from so far).
# These items (which only exist in test), whill have item_cnt_month = 'NaN', so fill them up with zeroes.

# removed test for sql step
# matrix = pd.concat([matrix, test], ignore_index=True, sort=False, keys=cols)
# matrix.fillna(0, inplace=True) # 34 month

# matrix = matrix[matrix.month_block<34]

CPU times: user 3 Âµs, sys: 1e+03 ns, total: 4 Âµs
Wall time: 5.96 Âµs

### Merging shops, items and cats to matrix

### Aggregations

In [ ]:
%%time

import parser
import lib
import pprint

matrix = genMatrix()

context = lib.Context({
    "Shops": shops,
    "Items": items,
    "Categories": cats,
    "Sales": train,
    "Matrix": genMatrix(),
}, "Matrix", "month_block")

features = []
for index, feature in enumerate(open('features.yaml').readlines()):
    feature = feature.strip().replace('tblock', 'month_block').replace('tcount', 'item_cnt_month')
    if len(feature) == 0 or feature.startswith('#'):
        continue
    features.append(feature)
    
context.rels = {('Matrix', 'shop', 'Shops', 'id'),
                ('Matrix', 'item', 'Items', 'id'),
                ('Items', 'category', 'Categories', 'id')}

context.pivots = {"Matrix": {"item", "shop", "month_block"},
                  "Items": {"id"},
                  "Categories": {"id"},
                  "Shops": {"id"},
                  "Sales": {"item", "shop", "date"}}

for index, feature in enumerate(features):
    print("Processing {}/{}: {}".format(index+1, len(features), feature))
    cmd = parser.parseLineToCommand(feature)
#     pprint.pprint(cmd)
    lib.process(context, cmd)
#     break
    
display(context.df)
#     break

Processing 1/2: Matrix.GET(FWD(Sales.MEAN_DIFF(MEAN(item_cnt_day|item,month_block)),1))

'mean'

,date,id,item,item_cnt_day,price,shop,month_block,revenue,"MEAN(item_cnt_day|item,month_block)",averaged,"MEAN_DIFF(MEAN(item_cnt_day|item,month_block))"
0,2013-01-13,4fa812e3-53be-48bd-9c53-21b1f0deff92,13355,1,97.0,58,157,97,1.166992,1.129883,0.032837
1,2013-01-27,64271db8-b1cb-4472-abb5-cbd997f718b8,11250,1,347.0,57,157,347,1.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
159462,2015-10-21,3e2026cf-8bde-4316-85c3-ab08504a887f,5382,1,3990.0,55,190,3990,1.000000,1.000000,0.000000
159463,2015-10-05,d044639e-1d37-494b-bba0-15393c495399,3692,1,1299.0,18,190,1299,1.000000,1.063477,-0.059692

Processing 2/2: Matrix.GET(FWD(Sales.MEAN_DIFF(SUM(revenue|shop,month_block)),1))

'mean'

,date,id,item,item_cnt_day,price,shop,month_block,revenue,"MEAN(item_cnt_day|item,month_block)","MEAN_DIFF(MEAN(item_cnt_day|item,month_block))","SUM(revenue|shop,month_block)",averaged,"MEAN_DIFF(SUM(revenue|shop,month_block))"
0,2013-01-13,4fa812e3-53be-48bd-9c53-21b1f0deff92,13355,1,97.0,58,157,97,1.166992,0.032837,inf,inf,NaN
1,2013-01-13,4fa812e3-53be-48bd-9c53-21b1f0deff92,13355,1,97.0,58,157,97,1.166992,0.032837,inf,inf,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013334,2015-10-05,d044639e-1d37-494b-bba0-15393c495399,3692,1,1299.0,18,190,1299,1.000000,-0.059692,inf,inf,NaN
1013335,2015-10-05,d044639e-1d37-494b-bba0-15393c495399,3692,1,1299.0,18,190,1299,1.000000,-0.059692,inf,inf,NaN

---

# Trend features

Price trend for the last six months.

In [61]:
import parser

# {
#     "pivot": ['month_block'],
#     "aggregate": 'item_cnt_month',
#     "function": 'mean',
#     "lags": [1],
#     "dropMain": True,
# }
# GROUPS = {
#     "action": "aggregate",
#     "left": MERGES,
#     "args": timeFeatures,
# }

# parseColumnToCommands("lag(mean(item_cnt_month|month_block),[1,2,3])")

In [102]:
%%time

TRENDED = {
    "action": "average_trend",
    "left": train,
    "args": {
        "pivot": ["item"],
        "column": "price",
        "function": "mean",
        "lags": [1,2,3,4,5,6],
        "per": "month_block",
    },
}

m3 = processOld(TRENDED)

,item,month_block,"mean(price|item,month_block)","mean(price|item,month_block)_LAG_1","mean(price|item,month_block)_LAG_2","mean(price|item,month_block)_LAG_3","mean(price|item,month_block)_LAG_4","mean(price|item,month_block)_LAG_5","mean(price|item,month_block)_LAG_6",mean(price|item),delta_lag_1,delta_lag_2,delta_lag_3,delta_lag_4,delta_lag_5,delta_lag_6,avg_trend(price|item$month_block)
0,1,172,4490.0,NaN,NaN,NaN,NaN,NaN,NaN,4490.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,26,178,58.0,NaN,NaN,NaN,NaN,NaN,NaN,58.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2,27,157,1890.0,NaN,NaN,NaN,NaN,NaN,NaN,1962.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3,27,158,1998.0,1890.0,NaN,NaN,NaN,NaN,NaN,1962.000000,-0.036697,NaN,NaN,NaN,NaN,NaN,-0.036682
4,28,159,398.0,NaN,NaN,NaN,NaN,NaN,NaN,248.750000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70985,22167,186,299.0,NaN,299.0,299.0,299.0,299.0,299.0,298.550746,NaN,0.001505,0.001505,0.001505,0.001505,0.001505,0.000000
70986,22167,187,299.0,299.0,NaN,299.0,299.0,299.0,299.0,298.550746,0.001505,NaN,0.001505,0.001505,0.001505,0.001505,0.001505
70987,22167,188,299.0,299.0,299.0,NaN,299.0,299.0,299.0,298.550746,0.001505,0.001505,NaN,0.001505,0.001505,0.001505,0.001505
70988,22167,190,299.0,NaN,299.0,299.0,299.0,NaN,299.0,298.550746,NaN,0.001505,0.001505,0.001505,NaN,0.001505,0.000000
70989,22168,157,799.0,NaN,NaN,NaN,NaN,NaN,NaN,799.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000

CPU times: user 1.69 s, sys: 125 ms, total: 1.82 s
Wall time: 1.93 s

Last month shop revenue trend

In [83]:
%%time

# TODO: document

# Problem: we want to generate sum(revenue|month_block,shop) inside left, but
# we need to use it outside left, lag it, then delete it. But deleting it
# should be taken care of inside left. What to do?
#
# possible solution: being able to take "column": "sum(revenue|month_block,shop)" and
# automatically generate it?
# general topic: scoping of columns

DEVIATION = {
    "action": "mean_deviation",
    "left": {
        "action": "aggregate",
        "left": train,
        "args": [{
            "pivot": ['month_block', 'shop'],
            "aggregate": 'revenue',
            "function": 'sum',
        }],
    },
    "args": {
        "pivot": [],
        "column": "sum(revenue|month_block,shop)",
        "lags": [1],
        "per": "shop",
    },
}

m3 = process(DEVIATION)

# revenueFeatures = [
#     {
#         "pivot": ['month_block','shop'],
#         "aggregate": 'revenue',
#         "function": 'sum',
#     },
#     {
#         "pivot": ['shop'],
#         "aggregate": 'sum(revenue|month_block,shop)',
#         "function": 'mean',
#     },
# ]

# averageRev = execAggregationFeature(revenueFeatures[0], train)

# averageRevPerBlock = execAggregationFeature(revenueFeatures[1], grouped0)

is it? mean_deviation
is it? aggregate
generating 0/1

ValueError: No group keys passed!

In [77]:
%%time

# TODO: document

# matrix3 = matrix2.copy()

# averageRev = createGroupBy(train, ['month_block','shop'], {'revenue': ['sum']})

# averageRevPerBlock = createGroupBy(averageRev, ['shop'], {'sum(revenue|month_block,shop)': ['mean']})

averageRev = pd.merge(averageRevPerBlock, averageRev, on=['shop'], how='left')

# averageRev['delta_revenue'] = (averageRev['sum(revenue|month_block,shop)'] - averageRev['mean(sum(revenue|month_block,shop)|shop)']) / averageRev['mean(sum(revenue|month_block,shop)|shop)']
# averageRev = averageRev[['month_block', 'shop', 'delta_revenue']]

# averageRev = lagFeature(averageRev, [1], 'delta_revenue', ['month_block', 'shop'])

# averageRev = averageRev[['month_block','shop','delta_revenue_LAG_1']]
# # display(averageRev)

# matrix3 = pd.merge(matrix3, averageRev, on=['month_block','shop'], how='left')

CPU times: user 3.25 ms, sys: 575 Âµs, total: 3.82 ms
Wall time: 3.22 ms

---

# Special features

In [ ]:
matrix3['month'] = matrix3['month_block'] % 12

Number of days in a month. There are no leap years.

In [ ]:
days = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31])
matrix3['days'] = matrix3['month'].map(days).astype(np.int8)

Months since the last sale for each shop/item pair and for item only. I use programing approach.

<i>Create HashTable with key equals to {shop,item} and value equals to month_block. Iterate data from the top. Foreach row if {row.shop,row.item} is not present in the table, then add it to the table and set its value to row.month_block. if HashTable contains key, then calculate the difference beteween cached value and row.month_block.</i>

In [ ]:
matrix3['item_cnt_month'] = matrix3['item_cnt_month'].astype(np.int64)

### Top-Bottom Propagation

Iterate top down propagating shit.

In [ ]:
# Seems slightly faster than the iterrows method, but not worth the pain
# at the moment.

# %%time

# # https://kratzert.github.io/2017/09/21/numba-series-part-1-the-jit-decorator-and-some-more-numba-basics.html

# import numba

# matrix4 = matrix3.copy()

# @numba.jit('int64[:](int64[:],int64[:])', nopython=True)
# def propagateLastSale(month_blocks, counts):
#     lastSalesVec = np.empty(counts.shape, dtype=np.int64)
    
#     lastSale = None
#     for i in range(len(month_blocks)):
#         month_block, count = month_blocks[i], counts[i]
#         if not lastSale is None:
#             lastSalesVec[i] = month_block - lastSale
#         else:
#             lastSalesVec[i] = -1
#         if count != 0:
#             lastSale = month_block
#     return lastSalesVec

# count = 0
# def genLastSaleColumn(group):
#     global count
# #     display(group)

#     groupValues = group[['month_block', 'item_cnt_month']].values.T
#     a = propagateLastSale(*groupValues)
#     group['last_sales'] = a
#     count += 1
#     if count % 1000 == 0:
#         print("count %s/%s = %s" % (count, 13459, count/13459))
#     return group
    
# # matrix4 = matrix4[(matrix3.item>30)&(matrix3.item<40)]

# print(len(matrix3[matrix3.item_cnt_month != 0].groupby(['item', 'shop']).groups))
# td = matrix4[matrix4.item_cnt_month != 0].groupby(['item', 'shop']).apply(genLastSaleColumn)
# # display(td[['month_block', 'last_sales']].iloc[-50:])

# # sel = sel[(matrix3.item==22164)&(matrix3.shop==59)]

`len(matrix3[matrix3.item_cnt_month != 0].groupby(['item', 'shop']).groups = 13459` while without discounting the item_cnt_month, it's 288,355.

In [ ]:
# Idea: this can be parallelized by partitioning matrix by different
# shops

%%time
# felipap: creating totally new features
# felipap: item_shop_last_sale: months since last sale

def doit(matrix4):
    ts = time.time()
    lastSaleForItemAtShop = {}
    matrix4['item_shop_last_sale'] = -1
    count = 0
    for idx, row in matrix4.iterrows():
        if count %50000 == 0:
            print("count is", count, count/len(matrix4))
        count += 1
        key = (row.item, row.shop)
        if key not in lastSaleForItemAtShop:
            if row.item_cnt_month!=0:
                lastSaleForItemAtShop[key] = row.month_block
        else:
            last_month_block = lastSaleForItemAtShop[key]
            matrix4.at[idx, 'item_shop_last_sale'] = row.month_block - last_month_block
            lastSaleForItemAtShop[key] = row.month_block

doit(matrix4)

matrix4['item_shop_last_sale'] = matrix4['item_shop_last_sale'].astype(np.int8)

time.time() - ts
matrix4

In [ ]:
ts = time.time()
lastSaleForItem = {}
matrix['item_last_sale'] = -1
matrix['item_last_sale'] = matrix['item_last_sale'].astype(np.int8)

count = 0
for idx, row in matrix.iterrows():
    if count %50000 == 0:
        print("count is", count, count/len(matrix))
    count += 1
    key = row.item
    if key not in lastSaleForItem:
        if row.item_cnt_month!=0:
            lastSaleForItem[key] = row.month_block
    else:
        last_month_block = lastSaleForItem[key]
        # felipap: why are we checking this?
        if row.month_block>last_month_block:
            matrix.at[idx, 'item_last_sale'] = row.month_block - last_month_block
            lastSaleForItem[key] = row.month_block         
time.time() - ts
matrix

Months since the first sale for each shop/item pair and for item only.

In [ ]:
# felipap: semi-creative new features again
ts = time.time()
matrix['item_shop_first_sale'] = matrix['month_block'] - matrix.groupby(['item','shop'])['month_block'].transform('min')
matrix['item_first_sale'] = matrix['month_block'] - matrix.groupby('item')['month_block'].transform('min')
time.time() - ts

---

In [ ]:
matrix

## Final preparations
Because of the using 12 as lag value drop first 12 months. Also drop all the columns with this month calculated values (other words which can not be calcucated for the test set).

In [ ]:
ts = time.time()
matrix = matrix[matrix.month_block > 11]
time.time() - ts

Producing lags brings a lot of nulls.

In [ ]:
ts = time.time()
def fill_na(df):
    for col in df.columns:
        if ('_lag_' in col) & (df[col].isnull().any()):
            if ('item_cnt' in col):
                df[col].fillna(0, inplace=True)         
    return df

matrix = fill_na(matrix)
time.time() - ts

In [ ]:
matrix.columns

In [ ]:
matrix.info()

In [ ]:
matrix.to_pickle('data.pkl')

del matrix
# del cache
del lastSaleForItemAtShop, lastSaleForItem # felipap
del group
del items
del shops
del cats
del train
# leave test for submission
gc.collect()